%h1 Competitions

%table.table.table-striped
  %tr
    %th Competition
    %th Entries Close At
  - @competitions.each do |competition|
    %tr
      %td= link_to competition.title, competition
      %td= competition.entries_close_at.to_formatted_s(:long)
