%h1 Results

%ul
  - @competition_series.each do |competition_series|
    %li
      = competition_series.title
      %br
      - competition_series.grades.each do |grade|
        = link_to grade.title, score_path(grade)
