%h1 Users

%table.table.table-striped
  %tr
    %th First Name
    %th Last Name
    %th E-Mail
  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= link_to user.email, admin_user_path(user)
